#nav {
    background-color:#b8fdfe;
    color:gray;
    min-width:100px;
    max-width:250px;
    min-height:100px;
    position: fixed;
    top: 30px;
    left: 5px;	      
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
@keyframes animated_div
{
0%		{transform: rotate(0deg);left:0px;}
50%		{transform: rotate(-360deg);left:500px;background:#1ec7e6;}
100%		{transform: rotate(0deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0%		{transform: rotate(0deg);left:0px;}
50%		{transform: rotate(-360deg);left:500px;background:#1ec7e6;}
100%		{transform: rotate(0deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%		{transform: rotate(0deg);left:0px;}
50%		{transform: rotate(-360deg);left:500px;background:#1ec7e6;}
100%		{transform: rotate(0deg);left:0px;}
}

@-o-keyframes animated_div
{
0%		{transform: rotate(0deg);left:0px;}
50%		{transform: rotate(-360deg);left:500px;background:#1ec7e6;}
100%		{transform: rotate(0deg);left:0px;}
}
body{
	width: 760px; /* how wide to make your web page */
	background-color: #b8fdfe; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif; /* default font */
}
div#main{	
	margin: 0;
	padding: 10px;
	background-color: #5b7cee;
}
/*video{
	animation:animated_div 5s 1;
	-moz-animation:animated_div 5s 1;
	-webkit-animation:animated_div 5s 1;
	-o-animation:animated_div 5s 1;
}*/
h1{
        font-family: 'Amatic SC', cursive;
	font-size: 70px;
}
h2{
        font-family: 'Amatic SC', cursive;
	font-size: 30px;
}
#btn{
        font-family: 'Amatic SC', cursive;
	font-size: 30px;
}
h3{
        font-family: 'Amatic SC', cursive;
	font-size: 22px;
}
#load {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(websitecontent/ajax-loader.gif);
    width: 43px;
    height: 11px;
    text-indent: -9999em;
}